# Preprocessing

### Modifying the raw data or unstructered data into useful and structured data is preprocessing.

# Pandas

### A great library for arranging data.It helps in arranging the data for preprocessing .

## 1.Series Object
#### To show values of a list or a dictonary into a sequential way(ordered with index) and the data type will be object.

In [1]:
import pandas as pd

In [2]:
fruits = ['Apple','Mango','Watermelon','Orange','Grapes']
pd.Series(fruits)        #Converting list into a ordered series.

0         Apple
1         Mango
2    Watermelon
3        Orange
4        Grapes
dtype: object

In [3]:
dict = {1:'Name',2:'Class',3:'Roll No',7:'Batch'}
pd.Series(dict)        #Converting dictoanary into ordered series and index with be our key values.

1       Name
2      Class
3    Roll No
7      Batch
dtype: object

In [4]:
boo = [True,False,True,False]            #List of boolean values.It's data type will be boolean.
pd.Series(boo)

0     True
1    False
2     True
3    False
dtype: bool

## 2.Attributes

### To extract any value from a series , we use attributes.They do not change any value , they just help in accessing values.They does not perform any operations over the data.

In [5]:
Emotion = ['Anger','Sad','Happy','Charming','Confused']
e = pd.Series(Emotion)
e

0       Anger
1         Sad
2       Happy
3    Charming
4    Confused
dtype: object

In [6]:
e.values          # Attributes does not require paranthesis.

array(['Anger', 'Sad', 'Happy', 'Charming', 'Confused'], dtype=object)

In [7]:
e.index           #Gives start and stop values and theb difference between each index.

RangeIndex(start=0, stop=5, step=1)

In [8]:
e.dtype            #'O' means object that the data we have is of string type.

dtype('O')

## 3.Methods
### If we want to make any changes or do any calculations then we use methods.

In [9]:
val = [1.2,3,5.6,3.9,0.7]

v = pd.Series(val)
v

0    1.2
1    3.0
2    5.6
3    3.9
4    0.7
dtype: float64

In [10]:
v.sum()           #Paranthesis are used in methods.

14.4

In [11]:
v.product()       #Product of the series.

55.036799999999985

In [12]:
v.mean()          #Mean of the series.

2.88

## 4.Parameters or Arguements

In [13]:
month = ['Jan','Feb','Mar','Apr','May']        #List with name fruits was initiliazed earlier.
pd.Series(fruits,month)                   #It will assign index and data by itself as data and index are not defined.

Jan         Apple
Feb         Mango
Mar    Watermelon
Apr        Orange
May        Grapes
dtype: object

In [14]:
s = pd.Series(data=month,index=fruits)
s                               #Now data is month and index is fruits because data and index are deinfed.

Apple         Jan
Mango         Feb
Watermelon    Mar
Orange        Apr
Grapes        May
dtype: object

## 5.Reading a CSV file
### CSV is comma seperated values.It is a file where values are kept seperated by commas.Excel or trio office allows you to see your csv file but only if CSV file is not very large.If our dataset is huge then we need pandas to visualize our CSV files.
### 1.read_csv function of Pandas library is used to read the CSV files.
### 2.squeeze =True is a boolean parameter that is used to convert it into a pandas series
### 3.usecols is used to extract a particular column.

In [15]:
sat = pd.read_csv('SAT GPA.csv',squeeze=True)       #To read a CSV file when csv file is in same folder as your jupyter(.ipynb) file otherwise you have to give complete path.
sat

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [16]:
s=pd.read_csv('SAT GPA.csv',usecols=['SAT'])   #Extracting a particular column.
s

     SAT
0   1714
1   1664
2   1760
3   1685
4   1693
..   ...
79  1936
80  1810
81  1987
82  1962
83  2050

[84 rows x 1 columns]

In [17]:
sat.head(7)         #It shows the first 7 values.If we don't give the number , it wil take 5 top values by deafult.

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83
5  1670  2.91
6  1764  3.00

In [18]:
sat.tail(2)       #It shows last 2 values.If we don't give the number , it wil take 5 last values by deafult.

     SAT   GPA
82  1962  3.76
83  2050  3.81

In [24]:
sat.shape       #84 rows and 2 columns.

(84, 2)

In [23]:
sat.ndim         #The get the dimension of dataset.

2

In [28]:
sat.size        #To get size of dataset

168

## 6.Sorting Values

In [36]:
pd.read_csv('Advertising.csv')

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [32]:
df1 = pd.read_csv('Advertising.csv',squeeze=True,usecols=['sales'])
df1            #Read a csv file ,coverted it into series and extracted sales column from it.

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [37]:
df1.sort_values()        #Sorted values in ascending order and index of each value ig given in front.

130     1.6
155     3.2
8       4.8
108     5.3
78      5.3
       ...
98     25.4
147    25.4
198    25.5
183    26.2
175    27.0
Name: sales, Length: 200, dtype: float64

In [47]:
df1.sort_values(ascending=False)           #To sort it in descending order,we need to pass ascending parameter and set it to Fasle.By deafult , it is true.
df1

175    27.0
183    26.2
198    25.5
147    25.4
98     25.4
       ...
78      5.3
108     5.3
8       4.8
155     3.2
130     1.6
Name: sales, Length: 200, dtype: float64

## 7.Index Sorting
### If by mistake , we disarranged the structure of data , then index sorting helps us in getting data back in original form or structure.

In [87]:
pd.read_csv('Hist_Trading.csv').head()

,Date,Securities Traded\t,No. of Trades,Traded Qty.(Cr.),Total T/O (Cr.),Advance,Advances as % of Securities Traded,Decline,Declines as % of Securities Traded\t,Unchanged,Unchanged as % of Securities Traded\t,Securities on Upper Circuit,Securities on Lower Circuit,Securities Touching 52W H,Securities Touching 52W L
0,06/03/2012,3004,1858226,28.06,3037.53,1031,0.34,1851,0.62,122,0.04,-,-,-,-
1,07/03/2012,3015,1645553,24.47,2664.20,1104,0.37,1780,0.59,131,0.04,-,-,-,-
2,09/03/2012,3020,1690381,28.75,3475.67,1853,0.61,1054,0.35,113,0.04,-,-,-,-
3,12/03/2012,3040,1299957,23.54,2353.78,1628,0.54,1295,0.43,117,0.04,-,-,-,-
4,13/03/2012,3136,1708854,32.24,2926.04,1736,0.55,1269,0.40,131,0.04,-,-,-,-

In [88]:
df2 = pd.read_csv('Hist_Trading.csv',squeeze=True,usecols=['Advance'])          #Here df means DataFrame.Extracting column Advance.
df2

0       1031
1       1104
2       1853
3       1628
4       1736
        ...
2035    1810
2036    1406
2037    2177
2038    1933
2039    1241
Name: Advance, Length: 2040, dtype: object

In [90]:
df2.sort_values(ascending=False)          #Arranged in descending order of column 'Advance'.

440     999
1843    999
244     998
71      994
953     994
       ...
1153      -
1136      -
1094      -
1050      -
1389      -
Name: Advance, Length: 2040, dtype: object

In [92]:
df2.sort_index(ascending=False)       #Advance 'column' arranged in the descending order of index.

2039    1241
2038    1933
2037    2177
2036    1406
2035    1810
        ...
4       1736
3       1628
2       1853
1       1104
0       1031
Name: Advance, Length: 2040, dtype: object

##  8.Value Extraction
### Value can either be extracted through it's index or it's position.

In [93]:
df2[7]         #To get value at any index.7 is the index.

'1035'

In [94]:
df2[[111,356,980,321]]             #Values at multiple indexes.

111    1466
356     631
980    1368
321    1182
Name: Advance, dtype: object

In [95]:
 df2[109:234]       #To get values within a range of index.

109    1147
110    1167
111    1466
112    1409
113    1297
       ...
229    1212
230     992
231    1493
232    1015
233    1049
Name: Advance, Length: 125, dtype: object

In [96]:
df2[:122]        #Starting from 0 to 121.

0      1031
1      1104
2      1853
3      1628
4      1736
       ...
117    1356
118    1168
119    1029
120     924
121    1040
Name: Advance, Length: 122, dtype: object

In [97]:
df2[-45:]          #Values at last 45 indexes.

1995    1636
1996    1204
1997    1235
1998    2010
1999    1624
2000    2021
2001    1319
2002    1594
2003    1751
2004    1855
2005    1594
2006     829
2007    1371
2008    1600
2009     870
2010    1439
2011    1419
2012    1516
2013    1479
2014     686
2015     959
2016    1164
2017    1122
2018    1087
2019    1213
2020    1002
2021    1767
2022    1055
2023    1216
2024     674
2025    1120
2026    1395
2027    1445
2028    1062
2029    1330
2030    1438
2031    1673
2032    1533
2033    2033
2034    1872
2035    1810
2036    1406
2037    2177
2038    1933
2039    1241
Name: Advance, dtype: object

## 9.Value Extraction by Index Label
### We can assign any column as the index of our dataset and we can extract values according to that column.

In [110]:
df3 = pd.read_csv('SAT GPA.csv',index_col='SAT',squeeze=True)    #index_col parameter is used to assign a column as index.
df3                                                #Here we have assigned SAT as the index.

SAT
1714    2.40
1664    2.52
1760    2.54
1685    2.74
1693    2.83
        ...
1936    3.71
1810    3.71
1987    3.73
1962    3.76
2050    3.81
Name: GPA, Length: 84, dtype: float64

In [108]:
df3[1714]          #Now we can extract values by index but giving the new index which is the SAT column.

2.4

In [111]:
df3[[1936,2050,1685]]      #To extract values at multiple index.

SAT
1936    3.71
2050    3.81
1685    2.74
Name: GPA, dtype: float64

### Note :- Next two cells will show error which are intended and the reasons are mentioned as a comment in front of them.

In [143]:
df3[[2345,2050]]            # If we pass multiple indexes and one of them does not exist then it will show an error.2345 does not exist in our file.

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [136]:
df3[345]        #If we give a index which is not present(like 345 here) then it will give us an error.

KeyError: 345

# 10. get() method
### It also helps in extraction of values from our CSV file.

In [119]:
df3                   #Created previously for SAT GPA Dataset where we assigned 'SAT' as index column.

SAT
1714    2.40
1664    2.52
1760    2.54
1685    2.74
1693    2.83
        ...
1936    3.71
1810    3.71
1987    3.73
1962    3.76
2050    3.81
Name: GPA, Length: 84, dtype: float64

In [122]:
df3.sort_index()

SAT
1634    3.42
1663    3.20
1664    2.52
1670    2.91
1674    3.17
        ...
2020    3.65
2020    3.28
2021    3.61
2041    3.51
2050    3.81
Name: GPA, Length: 84, dtype: float64

In [124]:
df3.get(1674)         #Getting value at 1637 index by .get method.

3.17

In [126]:
df3.get([1634,2050])      #Getting value at multiple indexes.

SAT
1634    3.42
2050    3.81
Name: GPA, dtype: float64

In [130]:
df3.get(235,default="Does not exist")         #it will return the default value given by us.

'Does not exist'

In [144]:
df3.get(2345,2050)    #If we pass multiple indexes and one of them does not exist then it will give value of the index which is present unlike index label method which was showing error.

2050

### Remark :- 
#### 1.The first difference between index label and .get method is that if we give a value which is not present in our index then index label methon {df3[2567]} will return an error but .get method {df3.get(2567)} will not return an error instead it will return the default value given by us in deafult parameter {df3.get(3245,default="Not Present")}

#### 2.In index label method , If we pass multiple indexes and one of them does not exist then it will show an error . But in .get method If we pass multiple indexes and one of them does not exist then it will give value of the index which is present and may show NaN for index which is not present.

### Note :- To know all the parameters of an attribute press shift and tab together on the attribute and it will show the whole documentation and parameters that can be passed in that attribute.

## 11.Basic Mathematical functions

In [150]:
df4 = pd.read_csv('Advertising.csv')
df4

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [151]:
df4.count()         #It returns the number of rows.

Unnamed: 0    200
TV            200
radio         200
newspaper     200
sales         200
dtype: int64

In [152]:
len(df4)        #It does the same as count was doing.

200

In [154]:
df4.sum()         #It returns the sum of all values of each column.

Unnamed: 0    20100.0
TV            29408.5
radio          4652.8
newspaper      6110.8
sales          2804.5
dtype: float64

In [156]:
df4.mean()        #It gives the average values for all the columns.

Unnamed: 0    100.5000
TV            147.0425
radio          23.2640
newspaper      30.5540
sales          14.0225
dtype: float64

In [159]:
average = df4.sum()/df4.count()    #It is also a way of finding mean or average.that is sum divides by total values.
average

Unnamed: 0    100.5000
TV            147.0425
radio          23.2640
newspaper      30.5540
sales          14.0225
dtype: float64

In [161]:
df4.std()         #To get the standard deviation.

Unnamed: 0    57.879185
TV            85.854236
radio         14.846809
newspaper     21.778621
sales          5.217457
dtype: float64

In [162]:
df4.max()                 #To find maximum value of each column.

Unnamed: 0    200.0
TV            296.4
radio          49.6
newspaper     114.0
sales          27.0
dtype: float64

In [163]:
df4.min()              #To find minimum value of each column.

Unnamed: 0    1.0
TV            0.7
radio         0.0
newspaper     0.3
sales         1.6
dtype: float64

In [164]:
df4.median()            #To find median of each column.

Unnamed: 0    100.50
TV            149.75
radio          22.90
newspaper      25.75
sales          12.90
dtype: float64

In [165]:
df4.idxmax()          #The index where maximum value of each column exists.

Unnamed: 0    199
TV            101
radio          58
newspaper      16
sales         175
dtype: int64

In [166]:
df4.idxmin()          #The index where minimum value of each column exists.

Unnamed: 0      0
TV            130
radio         127
newspaper      33
sales         130
dtype: int64

In [169]:
df4.newspaper[33]          #To cross check , i checked the value of column newspaper at index 33 which is the minimum.

0.3

In [170]:
df4.TV[101]             #Maximum value for column 'TV' at index 101 as given by our idxmax function.

296.4

In [177]:
df3.head()          #Our SAT GPA data where SAt was assigned as the index.

SAT
1634    3.42
1663    3.20
1664    2.52
1670    2.91
1674    3.17
Name: GPA, dtype: float64

In [178]:
df3.value_counts()            #value_counts() function gives your the number of times each value occur in our dataset.It shows in descending order by default.

3.28    7
3.17    4
3.47    4
3.41    3
3.40    3
3.29    3
3.71    3
3.42    3
3.37    3
3.19    3
3.38    2
3.49    2
3.01    2
3.60    2
3.59    2
3.39    2
3.08    2
3.00    2
3.52    2
3.51    2
3.58    2
3.32    1
3.34    1
3.50    1
3.31    1
3.62    1
3.73    1
3.02    1
3.64    1
3.12    1
3.24    1
2.91    1
3.07    1
2.83    1
3.76    1
3.21    1
2.54    1
3.54    1
2.40    1
3.20    1
2.74    1
2.52    1
3.44    1
3.65    1
3.61    1
3.48    1
3.81    1
Name: GPA, dtype: int64

In [184]:
df3.value_counts(ascending=True)    #Now we have arranged occurence in ascending order.

3.81    1
3.48    1
3.61    1
3.65    1
3.44    1
2.52    1
2.74    1
3.20    1
2.40    1
3.54    1
2.54    1
3.21    1
3.76    1
2.83    1
3.07    1
2.91    1
3.24    1
3.12    1
3.64    1
3.02    1
3.73    1
3.62    1
3.31    1
3.50    1
3.34    1
3.32    1
3.58    2
3.51    2
3.52    2
3.00    2
3.08    2
3.39    2
3.59    2
3.60    2
3.01    2
3.49    2
3.38    2
3.19    3
3.37    3
3.42    3
3.71    3
3.29    3
3.40    3
3.41    3
3.47    4
3.17    4
3.28    7
Name: GPA, dtype: int64

In [181]:
df3.value_counts().sum()        #It gives the total number of rows or total values.{Same as df3.counts()}

84

In [182]:
df3.unique()             #Returns unique values that means the values that occur only once.

array([3.42, 3.2 , 2.52, 2.91, 3.17, 2.74, 3.21, 2.83, 3.39, 3.08, 2.4 ,
       3.19, 3.47, 3.02, 2.54, 3.  , 3.28, 3.12, 3.29, 3.07, 3.37, 3.59,
       3.01, 3.41, 3.32, 3.49, 3.71, 3.4 , 3.52, 3.31, 3.38, 3.58, 3.44,
       3.48, 3.51, 3.5 , 3.54, 3.6 , 3.34, 3.76, 3.24, 3.73, 3.64, 3.62,
       3.65, 3.61, 3.81])

In [185]:
df3.nunique()         #Gives total number of unique values that means the value that occur only once.

47

# 12. apply function
### .apply function is used when we want to apply a method on each value of the dataset.

In [188]:
df5 = pd.read_csv('Advertising.csv',usecols=['TV'],squeeze=True)   #Importing 'TV' column of Advertising dataset
df5

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [189]:
df5.max()

296.4

In [193]:
def ref(num):            #We have created a function which has some conditions for the values of the datasets.
    if num<90:                                      
        return "Fine"
    elif num>90 and num<180:
        return "Can Handle"
    else:
        return "Help"       # I have explained how to create function in my python tutorials.

In [196]:
df5.apply(ref)         #We have used .apply method and passed our ref function as parameter in that which got applied on each value.

0            Help
1            Fine
2            Fine
3      Can Handle
4            Help
          ...
195          Fine
196    Can Handle
197    Can Handle
198          Help
199          Help
Name: TV, Length: 200, dtype: object

In [199]:
df5.apply(ref).tail(10)            #Last 10 values after applying ref function.

190          Fine
191          Fine
192          Fine
193    Can Handle
194    Can Handle
195          Fine
196    Can Handle
197    Can Handle
198          Help
199          Help
Name: TV, dtype: object

In [201]:
df5.apply(lambda TV:TV+10)     #Lambda is the keyword for an anonymous function which is adding 10 to each value of column 'TV'.
                               #Anonymous function is not pre-defined.It's created at that point of time when we need it.

0      240.1
1       54.5
2       27.2
3      161.5
4      190.8
       ...
195     48.2
196    104.2
197    187.0
198    293.6
199    242.1
Name: TV, Length: 200, dtype: float64

# I hope you found it helpful.Thanks  
# Created by :- Saksham